/* ===== SIDEBAR ===== */
.sidebar {
    width: 220px;
    min-height: 100vh;
    background-color: var(--fondo-sidebar);
    border-right: 2px solid var(--nude);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}
/* ===== LOGO ===== */
.sidebar-logo img {
    height: 200px;
    margin-bottom: 30px;
}

/* ===== NAV ===== */
.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-nav a {
    display: block;
    padding: 12px 20px;
    color: var(--texto-oscuro);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-size: 0.95rem;
    border-left: 3px solid transparent;
    transition: 0.2s;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar-nav a:hover {
    background-color: var(--nude);
    border-left: 3px solid var(--dorado);
    color: var(--texto-dorado);
}

.sidebar-nav a.active {
    background-color: var(--nude);
    border-left: 3px solid var(--dorado);
    color: var(--texto-dorado);
    font-weight: 700;
}

/* ===== OVERLAY ===== */
.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.sidebar-abierta {
        transform: translateX(0);
    }

    .hamburguesa {
        display: block;
    }

    .sidebar-overlay {
        display: block;
    }
}