/* ===== FUENTES ===== */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@400;700&display=swap');

/* ===== VARIABLES ===== */

:root {
    --rojo: #e63946;
    --rosa: #ff4d6d;
    --naranja: #F08E2D;
    --violeta: #8E2C9F;
    --bordo: #5a0f2e;
    --negro: #000;
    --blanco: #fff;
    --purpura: #19050f;
    --fucsia: #D62369;
    --cian: #137775;
    --rojoOxido: #7A192A;
    --gris: #dff2f2;


}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ===== RESET ===== */
body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    background-color: var(--bordo);
    flex-direction: column;
}

@keyframes splashIn {
  0%   { transform: scale(0) rotate(-20deg); opacity: 0; }
  60%  { transform: scale(1.2) rotate(10deg); opacity: 1; }
  80%  { transform: scale(0.9) rotate(-5deg); opacity: 1; }
  100% { transform: scale(1) rotate(0deg); opacity: 1; }
}


